<a href="https://colab.research.google.com/github/shaheerzubery/NLP-/blob/main/IR_on_Famous_people.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import lib
import numpy as np
import pandas as pd
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.neighbors import KDTree

In [18]:
person = pd.read_csv("/content/famous_people.csv", encoding='unicode_escape')
person.head()

   Sno           Name                                               Text
0    1    Virat Kholi  Virat Kohli (Hindi: [??????? ?ko??li?] (listen...
1    2     Baber azam  Babar Azam (Punjabi, Urdu: ???? ???? ????; bor...
2    3  Muhammad Amir  Mohammad Amir (Urdu: ???? ????; born 13 April ...
3    4  Shahid afridi  Sahibzada Mohammad Shahid Khan Afridi (Urdu: ?...
4    5     Imran khan  Imran Ahmed Khan Niazi HI(M) PP (Urdu/Pashto: ...

In [19]:
tfidf = TfidfVectorizer()   #while using fit_transform we need to create an instance of it
train_tfidf = tfidf.fit_transform(person.Text)

In [20]:
person['tfidf'] = list(train_tfidf.toarray())
person.head()

,Sno,Name,Text,tfidf
0,1,Virat Kholi,Virat Kohli (Hindi: [??????? ?ko??li?] (listen...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,2,Baber azam,"Babar Azam (Punjabi, Urdu: ???? ???? ????; bor...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,3,Muhammad Amir,Mohammad Amir (Urdu: ???? ????; born 13 April ...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1337836425266..."
3,4,Shahid afridi,Sahibzada Mohammad Shahid Khan Afridi (Urdu: ?...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,5,Imran khan,Imran Ahmed Khan Niazi HI(M) PP (Urdu/Pashto: ...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [34]:
kdtree = KDTree(train_tfidf.toarray(), leaf_size=3)

In [51]:
distance, idx= kdtree.query(person.tfidf[0].reshape(1,-1), k=3)

In [52]:
for i, value in list(enumerate(idx[0])):
    print(f'Name :{person["Name"][value]}')
    print(f'Distance :{distance[0][i]}')

Name :Virat Kholi
Distance :0.0
Name :Baber azam
Distance :1.037595487967696
Name :Rohit sharma
Distance :1.1250107616283125