<a href="https://colab.research.google.com/github/shaheerzubery/NLP-/blob/main/OneHotEncoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### One Hot Encoding

Today we are going to discuss the preprocessing tech

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

## Import the data file
here you can use csv as well

In [2]:
df = pd.read_excel('/content/One hot encoding data_set.xlsx')
df.head()

   Id   Color State
0   1     Red    NY
1   2    Blue    FL
2   3  Purple    CA
3   4     Red    NY
4   5  Purple    CA

In OneHotEncoder we are going to change the categorical data

In [3]:
df['Color'].unique()

array(['Red', 'Blue', 'Purple'], dtype=object)

In [4]:
df['State'].unique()

array(['NY', 'FL', 'CA'], dtype=object)

In [5]:
Oh = OneHotEncoder()

In [6]:
Oh.fit_transform(df[['Color','State']]).toarray()

array([[0., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.],
       [0., 0., 1., 1., 0., 0.],
       [1., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.]])

In [7]:
Feature_set = Oh.fit_transform(df[['Color','State']]).toarray()

In [10]:
feature_labels = Oh.categories_

Since there are teo sepearte array we need to join them using Numpy

In [13]:
feature_labels =np.array(feature_labels).ravel()

In [15]:
features = pd.DataFrame(Feature_set, columns = feature_labels )

In [16]:
features.head()

   Blue  Purple  Red   CA   FL   NY
0   0.0     0.0  1.0  0.0  0.0  1.0
1   1.0     0.0  0.0  0.0  1.0  0.0
2   0.0     1.0  0.0  1.0  0.0  0.0
3   0.0     0.0  1.0  0.0  0.0  1.0
4   0.0     1.0  0.0  1.0  0.0  0.0

Now we will join the old list with the new one

In [20]:
df_new = pd.concat([df, features] , axis = 1)

In [21]:
df_new.head()

   Id   Color State  Blue  Purple  Red   CA   FL   NY
0   1     Red    NY   0.0     0.0  1.0  0.0  0.0  1.0
1   2    Blue    FL   1.0     0.0  0.0  0.0  1.0  0.0
2   3  Purple    CA   0.0     1.0  0.0  1.0  0.0  0.0
3   4     Red    NY   0.0     0.0  1.0  0.0  0.0  1.0
4   5  Purple    CA   0.0     1.0  0.0  1.0  0.0  0.0

So through this tech your data is converted from categorical data to numeric data