<a href="https://colab.research.google.com/github/shaheerzubery/NLP-/blob/main/Text_tokenzing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Text Tokenizaion

So, we will tokenize the text and count it's frequency

In [4]:
corpus1 = "It was a bright and sunny day."

corpus2 = "I think a bad mood is a very common problem that we experience in our daily life."

we just took two corpus now we will tokenize it on the basis of space

In [5]:
list_1 = corpus1.split(" ")
list_2 = corpus2.split(" ")

now we will union both the tokezied sets

In [6]:
list_1

['It', 'was', 'a', 'bright', 'and', 'sunny', 'day.']

In [7]:
list_2

['I',
 'think',
 'a',
 'bad',
 'mood',
 'is',
 'a',
 'very',
 'common',
 'problem',
 'that',
 'we',
 'experience',
 'in',
 'our',
 'daily',
 'life.']

In [8]:
Unique_set = set(list_1).union(set(list_2))

In [9]:
Unique_set

{'I',
 'It',
 'a',
 'and',
 'bad',
 'bright',
 'common',
 'daily',
 'day.',
 'experience',
 'in',
 'is',
 'life.',
 'mood',
 'our',
 'problem',
 'sunny',
 'that',
 'think',
 'very',
 'was',
 'we'}

Now we will find the count

In [10]:
num_list1 = dict.fromkeys(Unique_set,0)

for word in list_1:
  num_list1[word] += 1

num_list2 = dict.fromkeys(Unique_set,0)

for word in list_2:
  num_list2[word] += 1

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame([num_list1,num_list2])
df

,very,that,was,our,and,bright,experience,common,daily,problem,...,think,mood,a,sunny,It,day.,life.,I,bad,is
0,0,0,1,0,1,1,0,0,0,0,...,0,0,1,1,1,1,0,0,0,0
1,1,1,0,1,0,0,1,1,1,1,...,1,1,2,0,0,0,1,1,1,1

Thank you for watching