<a href="https://colab.research.google.com/github/shaheerzubery/NLP-/blob/main/TFIDF_Practical_Implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### TFIFD Manual as well as SKlearn Implementation

today we are going to implement tfidf through sklearn as well as manual code

In [1]:
corpus1 = "It was a bright and sunny day. The sun shone brilliantly in the clear, blue sky. It was a bright and sunny day. White, fluffy clouds drifted across the clear, blue sky"

corpus2 = "I think a bad mood is a very common problem that we experience in our daily life. There are different situations that result in turning our good or normal mood into a bad one."

I have consder 2 corpus of different sizes

In [2]:
list_of_word_1 = corpus1.split(" ")
list_of_word_2 = corpus2.split(" ")

Now check the unique items in both lists

In [ ]:
Unique_element = set(list_of_word_1).union(set(list_of_word_2))
Unique_element

## Bag of words

In [5]:
nums_list_1 = dict.fromkeys(Unique_element,0)
for word in list_of_word_1:
  nums_list_1[word] += 1
#do the same for 2nd corpus

nums_list_2 = dict.fromkeys(Unique_element,0)
for word in list_of_word_2:
  nums_list_2[word] += 1

Find the term frequency for both the corpus

In [6]:
def compute_tf(word_list, list_of_word):
  tf_dict = {}
  word_count = len(list_of_word)
  for word, count in word_list.items():
    tf_dict[word] = count / float(word_count)
  return tf_dict

In [7]:
tf1 = compute_tf(nums_list_1,list_of_word_1)
tf2 = compute_tf(nums_list_2,list_of_word_2)

In [9]:
tf2

{'are': 0.029411764705882353,
 'blue': 0.0,
 'It': 0.0,
 'sky': 0.0,
 'fluffy': 0.0,
 'shone': 0.0,
 'common': 0.029411764705882353,
 'normal': 0.029411764705882353,
 'brilliantly': 0.0,
 'a': 0.08823529411764706,
 'life.': 0.029411764705882353,
 'was': 0.0,
 'clouds': 0.0,
 'sky.': 0.0,
 'different': 0.029411764705882353,
 'sunny': 0.0,
 'daily': 0.029411764705882353,
 'turning': 0.029411764705882353,
 'we': 0.029411764705882353,
 'in': 0.058823529411764705,
 'bad': 0.058823529411764705,
 'sun': 0.0,
 'is': 0.029411764705882353,
 'into': 0.029411764705882353,
 'and': 0.0,
 'or': 0.029411764705882353,
 'the': 0.0,
 'The': 0.0,
 'our': 0.058823529411764705,
 'that': 0.058823529411764705,
 'drifted': 0.0,
 'clear,': 0.0,
 'There': 0.029411764705882353,
 'one.': 0.029411764705882353,
 'think': 0.029411764705882353,
 'White,': 0.0,
 'good': 0.029411764705882353,
 'across': 0.0,
 'I': 0.029411764705882353,
 'mood': 0.058823529411764705,
 'bright': 0.0,
 'result': 0.029411764705882353,
 'very': 0.029411764705882353,
 'experience': 0.029411764705882353,
 'situations': 0.029411764705882353,
 'day.': 0.0,
 'problem': 0.029411764705882353}

Compute IDF

In [10]:
def compute_idf(docs):
  import math
  N = len(docs)
  idf_dict = dict.fromkeys(docs[0].keys(), 0)
  for doc in docs:
    for word, val in doc.items():
      if val > 0:
        idf_dict[word] += 1
  for word, val in idf_dict.items():
    idf_dict[word] = math.log(N / float(val))
  return idf_dict

In [11]:
idfs = compute_idf([nums_list_1,nums_list_2])
idfs

{'are': 0.6931471805599453,
 'blue': 0.6931471805599453,
 'It': 0.6931471805599453,
 'sky': 0.6931471805599453,
 'fluffy': 0.6931471805599453,
 'shone': 0.6931471805599453,
 'common': 0.6931471805599453,
 'normal': 0.6931471805599453,
 'brilliantly': 0.6931471805599453,
 'a': 0.0,
 'life.': 0.6931471805599453,
 'was': 0.6931471805599453,
 'clouds': 0.6931471805599453,
 'sky.': 0.6931471805599453,
 'different': 0.6931471805599453,
 'sunny': 0.6931471805599453,
 'daily': 0.6931471805599453,
 'turning': 0.6931471805599453,
 'we': 0.6931471805599453,
 'in': 0.0,
 'bad': 0.6931471805599453,
 'sun': 0.6931471805599453,
 'is': 0.6931471805599453,
 'into': 0.6931471805599453,
 'and': 0.6931471805599453,
 'or': 0.6931471805599453,
 'the': 0.6931471805599453,
 'The': 0.6931471805599453,
 'our': 0.6931471805599453,
 'that': 0.6931471805599453,
 'drifted': 0.6931471805599453,
 'clear,': 0.6931471805599453,
 'There': 0.6931471805599453,
 'one.': 0.6931471805599453,
 'think': 0.6931471805599453,
 'White,': 0.6931471805599453,
 'good': 0.6931471805599453,
 'across': 0.6931471805599453,
 'I': 0.6931471805599453,
 'mood': 0.6931471805599453,
 'bright': 0.6931471805599453,
 'result': 0.6931471805599453,
 'very': 0.6931471805599453,
 'experience': 0.6931471805599453,
 'situations': 0.6931471805599453,
 'day.': 0.6931471805599453,
 'problem': 0.6931471805599453}

Now compute tfidf

In [16]:
def compute_tfidf(tf,idfs):
  tfidf = {}
  for word, val in tf.items():
    tfidf[word] = val * idfs[word]
  return tfidf

In [14]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
tfidf1 = compute_tfidf(tf1,idfs)
tfidf2 = compute_tfidf(tf2,idfs)

df = pd.DataFrame([tfidf1,tfidf2])

In [18]:
df

,are,blue,It,sky,fluffy,shone,common,normal,brilliantly,a,...,across,I,mood,bright,result,very,experience,situations,day.,problem
0,0.000000,0.043322,0.043322,0.021661,0.021661,0.021661,0.000000,0.000000,0.021661,0.0,...,0.021661,0.000000,0.000000,0.043322,0.000000,0.000000,0.000000,0.000000,0.043322,0.000000
1,0.020387,0.000000,0.000000,0.000000,0.000000,0.000000,0.020387,0.020387,0.000000,0.0,...,0.000000,0.020387,0.040773,0.000000,0.020387,0.020387,0.020387,0.020387,0.000000,0.020387

## TFIDF using SKLEARN

In [19]:
vectorizer = TfidfVectorizer()
vector = vectorizer.fit_transform([corpus1,corpus2])
feature_name = vectorizer.get_feature_names_out()
dense = vector.todense()
dense_list = dense.tolist()

df = pd.DataFrame(dense_list, columns = feature_name)
df

,across,and,are,bad,blue,bright,brilliantly,clear,clouds,common,...,sunny,that,the,there,think,turning,very,was,we,white
0,0.136709,0.273418,0.000000,0.000000,0.273418,0.273418,0.136709,0.273418,0.136709,0.000000,...,0.273418,0.000000,0.410128,0.000000,0.000000,0.000000,0.000000,0.273418,0.000000,0.136709
1,0.000000,0.000000,0.162168,0.324336,0.000000,0.000000,0.000000,0.000000,0.000000,0.162168,...,0.000000,0.324336,0.000000,0.162168,0.162168,0.162168,0.162168,0.000000,0.162168,0.000000

you can see there are 43 record and in the manula there are 47 records, so the sklearn remove the single letters like "I"

##Thankyou for watching